@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 4.5em;
  padding: 0 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  color: $font-primary;
  font-size: 1.1em;
  font-weight: 600;
}

.user-img,
.user-img img {
  width: 2.5em;
  height: 2.5em;
}
